<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.jvapps.system_alert_window">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".BubbleActivity"
            android:documentLaunchMode="always"
            android:label="@string/bubbles_activity"
            android:allowEmbedded="true"
            android:resizeableActivity="true"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <service
            android:name=".services.WindowService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.WindowServiceNew"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.FOREGROUND_SERVICE"/>
    </application>

</manifest>