<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.jvapps.system_alert_window">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <activity
            android:name=".BubbleActivity"
            android:documentLaunchMode="always"
            android:label="@string/bubbles_activity"
            android:allowEmbedded="true"
            android:resizeableActivity="true"
            android:showOnLockScreen="true"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute" />
        <service
            android:name=".services.WindowServiceNew"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.FOREGROUND_SERVICE"><property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="@string/foreground_service_special_use"/>
        </service>
    </application>

</manifest>